In [1]:
import pandas as pd
import os

In [3]:
df1 = pd.read_csv('Outfitters.csv')
df2 = pd.read_csv('image_index.csv')

In [4]:
df1.head()

,Product Name,Price,Color,Product Page URL,Product ID,Downloaded Image ID,Downloaded Image URL
0,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_1_1,https://outfitters.com.pk/cdn/shop/files/F0978...
1,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...,https://outfitters.com.pk/cdn/shop/files/F0978...
2,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_3_1,https://outfitters.com.pk/cdn/shop/files/F0978...
3,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_2_1,https://outfitters.com.pk/cdn/shop/files/F0978...
4,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_5_1,https://outfitters.com.pk/cdn/shop/files/F0978...

In [5]:
df2.head()

                                          image_path  index_id
0  /content/drive/MyDrive/Intellishop/Outfitters_...         0
1  /content/drive/MyDrive/Intellishop/Outfitters_...         1
2  /content/drive/MyDrive/Intellishop/Outfitters_...         2
3  /content/drive/MyDrive/Intellishop/Outfitters_...         3
4  /content/drive/MyDrive/Intellishop/Outfitters_...         4

In [8]:
df2['image_path'][0]

'/content/drive/MyDrive/Intellishop/Outfitters_Images/F0978106904_1_1.jpg'

In [11]:
# df2['image_path'] = df2['image_path'].apply(lambda x: os.path.splitext(os.path.basename(x))[0])
df2.to_csv('image_index.csv', index=False)

In [13]:
df2

                                            image_path  index_id
0                                      F0978106904_1_1         0
1    F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...         1
2                                      F0978106904_3_1         2
3                                      F0978106904_2_1         3
4                                      F0978106904_5_1         4
..                                                 ...       ...
487                                    F0114125619_6_1       487
488                                    F0114125619_5_1       488
489                                    F0114125909_2_1       489
490                                    F0114125909_7_1       490
491                                    F0114125909_5_1       491

[492 rows x 2 columns]

In [15]:
# Remove duplicates from df2 based on 'Downloaded_Image_Id'
df1_unique = df1.drop_duplicates(subset='Downloaded Image ID')

In [17]:
df1_unique

,Product Name,Price,Color,Product Page URL,Product ID,Downloaded Image ID,Downloaded Image URL
0,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_1_1,https://outfitters.com.pk/cdn/shop/files/F0978...
1,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...,https://outfitters.com.pk/cdn/shop/files/F0978...
2,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_3_1,https://outfitters.com.pk/cdn/shop/files/F0978...
3,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_2_1,https://outfitters.com.pk/cdn/shop/files/F0978...
4,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,f0978-106,F0978106904_5_1,https://outfitters.com.pk/cdn/shop/files/F0978...
...,...,...,...,...,...,...,...
487,Contrast Detail Activewear T-shirt,"PKR 2,090",NaN,https://outfitters.com.pk/collections/men-acti...,f0114-125,F0114125619_6_1,https://outfitters.com.pk/cdn/shop/files/F0114...
488,Contrast Detail Activewear T-shirt,"PKR 2,090",NaN,https://outfitters.com.pk/collections/men-acti...,f0114-125,F0114125619_5_1,https://outfitters.com.pk/cdn/shop/files/F0114...
489,Contrast Detail Activewear T-shirt,"PKR 2,090",NaN,https://outfitters.com.pk/collections/men-acti...,f0114-125,F0114125909_2_1,https://outfitters.com.pk/cdn/shop/files/F0114...
490,Contrast Detail Activewear T-shirt,"PKR 2,090",NaN,https://outfitters.com.pk/collections/men-acti...,f0114-125,F0114125909_7_1,https://outfitters.com.pk/cdn/shop/files/F0114...
491,Contrast Detail Activewear T-shirt,"PKR 2,090",NaN,https://outfitters.com.pk/collections/men-acti...,f0114-125,F0114125909_5_1,https://outfitters.com.pk/cdn/shop/files/F0114...

In [19]:
# Merge only the 'Url' column from df1 to df2 based on 'Downloaded_Image_Id'
merged_df = pd.merge(df2, df1_unique[['Downloaded Image ID', 'Downloaded Image URL']], left_on='image_path', right_on='Downloaded Image ID', how='left')
merged_df.drop('Downloaded Image ID', axis=1, inplace=True)
merged_df

,image_path,index_id,Downloaded Image URL
0,F0978106904_1_1,0,https://outfitters.com.pk/cdn/shop/files/F0978...
1,F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...,1,https://outfitters.com.pk/cdn/shop/files/F0978...
2,F0978106904_3_1,2,https://outfitters.com.pk/cdn/shop/files/F0978...
3,F0978106904_2_1,3,https://outfitters.com.pk/cdn/shop/files/F0978...
4,F0978106904_5_1,4,https://outfitters.com.pk/cdn/shop/files/F0978...
...,...,...,...
487,F0114125619_6_1,487,https://outfitters.com.pk/cdn/shop/files/F0114...
488,F0114125619_5_1,488,https://outfitters.com.pk/cdn/shop/files/F0114...
489,F0114125909_2_1,489,https://outfitters.com.pk/cdn/shop/files/F0114...
490,F0114125909_7_1,490,https://outfitters.com.pk/cdn/shop/files/F0114...
491,F0114125909_5_1,491,https://outfitters.com.pk/cdn/shop/files/F0114...

In [20]:
merged_df.to_csv('image_index_urls.csv', index=False)

In [31]:
# Modify the columns you want to include from df2
columns_to_merge = ['Downloaded Image ID', 'Downloaded Image URL', 'Product Name', 'Price', 'Product ID']

# Perform the merge
merged_df = pd.merge(df2, df1_unique[columns_to_merge], left_on='image_path', right_on='Downloaded Image ID', how='left')

# # Drop the 'Downloaded_Image_Id' column if you don't need it anymore
merged_df.drop('Downloaded Image ID', axis=1, inplace=True)

# Display the result
merged_df

,image_path,index_id,Downloaded Image URL,Product Name,Price,Product ID
0,F0978106904_1_1,0,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
1,F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...,1,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
2,F0978106904_3_1,2,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
3,F0978106904_2_1,3,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
4,F0978106904_5_1,4,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
...,...,...,...,...,...,...
487,F0114125619_6_1,487,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125
488,F0114125619_5_1,488,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125
489,F0114125909_2_1,489,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125
490,F0114125909_7_1,490,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125
491,F0114125909_5_1,491,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125

In [32]:
# rename column
merged_df.rename(columns={'image_path': 'Downloaded Image Name'}, inplace=True)
merged_df

,Downloaded Image Name,index_id,Downloaded Image URL,Product Name,Price,Product ID
0,F0978106904_1_1,0,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
1,F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...,1,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
2,F0978106904_3_1,2,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
3,F0978106904_2_1,3,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
4,F0978106904_5_1,4,https://outfitters.com.pk/cdn/shop/files/F0978...,Slogan Print T-Shirt,"PKR 2,290",f0978-106
...,...,...,...,...,...,...
487,F0114125619_6_1,487,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125
488,F0114125619_5_1,488,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125
489,F0114125909_2_1,489,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125
490,F0114125909_7_1,490,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125
491,F0114125909_5_1,491,https://outfitters.com.pk/cdn/shop/files/F0114...,Contrast Detail Activewear T-shirt,"PKR 2,090",f0114-125

In [33]:
# change the order of columns
merged_df = merged_df[['Product ID','Product Name', 'Price', 'Downloaded Image Name', 'Downloaded Image URL']]
merged_df

,Product ID,Product Name,Price,Downloaded Image Name,Downloaded Image URL
0,f0978-106,Slogan Print T-Shirt,"PKR 2,290",F0978106904_1_1,https://outfitters.com.pk/cdn/shop/files/F0978...
1,f0978-106,Slogan Print T-Shirt,"PKR 2,290",F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...,https://outfitters.com.pk/cdn/shop/files/F0978...
2,f0978-106,Slogan Print T-Shirt,"PKR 2,290",F0978106904_3_1,https://outfitters.com.pk/cdn/shop/files/F0978...
3,f0978-106,Slogan Print T-Shirt,"PKR 2,290",F0978106904_2_1,https://outfitters.com.pk/cdn/shop/files/F0978...
4,f0978-106,Slogan Print T-Shirt,"PKR 2,290",F0978106904_5_1,https://outfitters.com.pk/cdn/shop/files/F0978...
...,...,...,...,...,...
487,f0114-125,Contrast Detail Activewear T-shirt,"PKR 2,090",F0114125619_6_1,https://outfitters.com.pk/cdn/shop/files/F0114...
488,f0114-125,Contrast Detail Activewear T-shirt,"PKR 2,090",F0114125619_5_1,https://outfitters.com.pk/cdn/shop/files/F0114...
489,f0114-125,Contrast Detail Activewear T-shirt,"PKR 2,090",F0114125909_2_1,https://outfitters.com.pk/cdn/shop/files/F0114...
490,f0114-125,Contrast Detail Activewear T-shirt,"PKR 2,090",F0114125909_7_1,https://outfitters.com.pk/cdn/shop/files/F0114...
491,f0114-125,Contrast Detail Activewear T-shirt,"PKR 2,090",F0114125909_5_1,https://outfitters.com.pk/cdn/shop/files/F0114...

In [34]:
merged_df.to_csv('image_index_urls.csv', index=False)

In [ ]:
# product page scrape left

In [10]:
outfitters_df = pd.read_csv('/Users/abdullahmac/Desktop/FAST/Hisham FYP/Own Implementation/Outfitters/Outfitters.csv')
outfitters_df.head()

,Product ID,Product Name,Price,Color,Product Page URL,Downloaded Image ID,Downloaded Image URL,Brand
0,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_1_1,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters
1,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters
2,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_3_1,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters
3,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_2_1,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters
4,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_5_1,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters

In [9]:
# add another column to the dataframe havinf same value for all rows
outfitters_df['Brand'] = 'Outfitters'
outfitters_df.to_csv('/Users/abdullahmac/Desktop/FAST/Hisham FYP/Own Implementation/Outfitters/Outfitters.csv', index=False)

In [12]:
llama_df = pd.read_csv('/Users/abdullahmac/Desktop/FAST/Hisham FYP/Own Implementation/Llama/lama_retail_products.csv')
llama_df.head()

,Product ID,Product Name,Price,Color,Product Page URL,Downloaded Image ID,Downloaded Image URL,Brand
0,interlock-tee-mas24tp054-ivory,Interlock Tee Mas24tp054,"Rs.2,750.00",NaN,https://lamaretail.com/collections/man-t-shirt...,interlock-tee-mas24tp054-ivory_1.jpg,https://lamaretail.com/cdn/shop/files/MAS24TP0...,Llama
1,interlock-tee-mas24tp054-ivory,Interlock Tee Mas24tp054,"Rs.2,750.00",NaN,https://lamaretail.com/collections/man-t-shirt...,interlock-tee-mas24tp054-ivory_2.jpg,https://lamaretail.com/cdn/shop/files/MAS24TP0...,Llama
2,heavy-weight-tee-maw24tp134-black,Heavy Weight Tee Maw24tp134,"Rs.2,750.00",NaN,https://lamaretail.com/collections/man-t-shirt...,heavy-weight-tee-maw24tp134-black_1.jpg,https://lamaretail.com/cdn/shop/files/MAW24TP1...,Llama
3,heavy-weight-tee-maw24tp134-black,Heavy Weight Tee Maw24tp134,"Rs.2,750.00",NaN,https://lamaretail.com/collections/man-t-shirt...,heavy-weight-tee-maw24tp134-black_2.jpg,https://lamaretail.com/cdn/shop/files/MAW24TP1...,Llama
4,heavy-weight-tee-mas24tp067-navy,Heavy Weight Tee Mas24tp067,"Rs.2,450.00",NaN,https://lamaretail.com/collections/man-t-shirt...,heavy-weight-tee-mas24tp067-navy_1.jpg,https://lamaretail.com/cdn/shop/files/MAS24TP0...,Llama

In [13]:
# combine two dataframes
combined_df = pd.concat([outfitters_df, llama_df], ignore_index=True)
combined_df

,Product ID,Product Name,Price,Color,Product Page URL,Downloaded Image ID,Downloaded Image URL,Brand
0,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_1_1,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters
1,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters
2,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_3_1,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters
3,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_2_1,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters
4,f0978-106,Slogan Print T-Shirt,"PKR 2,290",NaN,https://outfitters.com.pk/collections/men-t-sh...,F0978106904_5_1,https://outfitters.com.pk/cdn/shop/files/F0978...,Outfitters
...,...,...,...,...,...,...,...,...
1103,high-crew-sweatshirt-sapmwt0003-midnight-blue,High Crew Sweatshirt Sapmwt0003 Midnight,"Rs.4,250.00",NaN,https://lamaretail.com/collections/man-hoodies...,high-crew-sweatshirt-sapmwt0003-midnight-blue_...,https://lamaretail.com/cdn/shop/files/SAPMWT00...,Llama
1104,high-crew-sweatshirt-sapmwt0003-olive,High Crew Sweatshirt Sapmwt0003,"Rs.4,250.00",NaN,https://lamaretail.com/collections/man-hoodies...,high-crew-sweatshirt-sapmwt0003-olive_1.jpg,https://lamaretail.com/cdn/shop/files/SAPMWT00...,Llama
1105,high-crew-sweatshirt-sapmwt0003-olive,High Crew Sweatshirt Sapmwt0003,"Rs.4,250.00",NaN,https://lamaretail.com/collections/man-hoodies...,high-crew-sweatshirt-sapmwt0003-olive_2.jpg,https://lamaretail.com/cdn/shop/files/SAPMWT00...,Llama
1106,high-crew-sweatshirt-sapmwt0003-grey,High Crew Sweatshirt Sapmwt0003,"Rs.4,250.00",NaN,https://lamaretail.com/collections/man-hoodies...,high-crew-sweatshirt-sapmwt0003-grey_1.jpg,https://lamaretail.com/cdn/shop/files/SAPMWT00...,Llama
1107,high-crew-sweatshirt-sapmwt0003-grey,High Crew Sweatshirt Sapmwt0003,"Rs.4,250.00",NaN,https://lamaretail.com/collections/man-hoodies...,high-crew-sweatshirt-sapmwt0003-grey_2.jpg,https://lamaretail.com/cdn/shop/files/SAPMWT00...,Llama

In [23]:
combined_index =  pd.read_csv('/Users/abdullahmac/Desktop/FAST/Hisham FYP/Own Implementation/image_index_combined.csv')
combined_index

                                             image_path  index_id
0     /content/drive/MyDrive/Intellishop/All Images/...         0
1     /content/drive/MyDrive/Intellishop/All Images/...         1
2     /content/drive/MyDrive/Intellishop/All Images/...         2
3     /content/drive/MyDrive/Intellishop/All Images/...         3
4     /content/drive/MyDrive/Intellishop/All Images/...         4
...                                                 ...       ...
1103  /content/drive/MyDrive/Intellishop/All Images/...      1103
1104  /content/drive/MyDrive/Intellishop/All Images/...      1104
1105  /content/drive/MyDrive/Intellishop/All Images/...      1105
1106  /content/drive/MyDrive/Intellishop/All Images/...      1106
1107  /content/drive/MyDrive/Intellishop/All Images/...      1107

[1108 rows x 2 columns]

In [26]:
# print image path column
combined_index['image_path'][1]

# '/content/drive/MyDrive/Intellishop/All Images/Outfitters_Images/F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1bcfa_1.jpg' from this keep F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1bcfa_1.jpg only
combined_index['image_path'] = combined_index['image_path'].apply(lambda x: os.path.splitext(os.path.basename(x))[0])

In [27]:
combined_index

                                             image_path  index_id
0                                       F0978106904_1_1         0
1     F0978106904_2_dd5b6386-0af5-4cb9-8756-8cbdbfa1...         1
2                                       F0978106904_3_1         2
3                                       F0978106904_2_1         3
4                                       F0978106904_5_1         4
...                                                 ...       ...
1103              soft-casual-hoodie-sapmwt0008-beige_1      1103
1104              soft-casual-hoodie-sapmwt0008-beige_2      1104
1105    high-crew-sweatshirt-sapmwt0003-midnight-blue_1      1105
1106             high-crew-sweatshirt-sapmwt0003-grey_2      1106
1107             high-crew-sweatshirt-sapmwt0003-grey_1      1107

[1108 rows x 2 columns]

In [28]:
combined_index.to_csv('/Users/abdullahmac/Desktop/FAST/Hisham FYP/Own Implementation/image_index_combined.csv', index=False)

In [ ]:
# Merge only the 'Url' column from df1 to df2 based on 'Downloaded_Image_Id'
merged_df = pd.merge(df2, df1_unique[['Downloaded Image ID', 'Downloaded Image URL']], left_on='image_path', right_on='Downloaded Image ID', how='left')
merged_df.drop('Downloaded Image ID', axis=1, inplace=True)
merged_df